* {
    box-sizing: border-box;
  }
  
body { background-color: PaleTurquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
h1 {
        color:black;
        text-align: center;
        text-shadow: 3px 3px 5px grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
    }
    
h2 {
        color: black;
        text-align: center;
        text-shadow: 3px 3px 5px grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        float: left;
        width: 25%;
        padding: 15px
}

#h2{position:relative;
    top:310px;
    right:30px
}

img{
     height:auto;
     width:200px;
     border-radius:50%;
     box-shadow:3px 4px 5px grey;
     padding:10px;
     border:2px #696969;
     margin: auto;
     display:block;
     position:relative;
     right:975px;
     top:25px
     
       
}
#img {
   width:100%
}  

#info {
        color:teal ;
        border-style:solid;
        border-radius: 8px;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-right: 70px;
        margin-left: 20px
    }
#info2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 70px;
        margin-left: 50px
    }
    .mail{
        
        font-weight: bold;
        
    }
    .cel{
        
        font-weight:bold;
        
    }
    
#complemento{
        font-style:italic;
    }

#subt {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    border-style: double;
    background-image: linear-gradient(to right, rgb(103, 230, 247) , rgb(4, 155, 147));
    border: 2px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 70px;
    margin-left: 50px

}
#con1{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 50px;
    line-height: 1.5
}
#cursos {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 50px;
    line-height: 1.5
}
#estudios {
    margin-top: 20px;
        margin-bottom: 50px;
        margin-right: 70px;
        margin-left: 50px;
        line-height: 1.5
}
#con {
    font-weight:bold;
}
#curso {
    font-weight: bold;
}
#fecha {
    font-style: italic;
    text-decoration: underline
}
#titulo {
    font-weight: bold;
    font-style: italic;}

#exp{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 50px;
    line-height: 1.5
}

#lang{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 50px;
    line-height: 1.5
    }

#disp{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 50px
}
#col-1{
    float: left;
    width: 25%;
    padding: 15px;
    position:relative;
    top:100px;
    content: "";
    clear: both;
    display: block
}
#col-2{
    float: right;
    width: 75%;
    padding: 15px;
    margin:auto;
    position:relative;
    top:-850px;
    content: "";
    clear: both;
    display: block
}
@media only screen and (max-width: 768px) {
[id*="col-"] {
    width: 100%;
  }
}
