*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: PaleTurquoise;
}

#sec-izq{
    float:left;
    text-align: center;
    position: absolute;
    width: 25%;
    margin: auto;
    padding: 0px;
}

img{
    height: auto;
    width: 200px;
    border-radius: 50%;
    box-shadow: 3px 4px 5px grey;
    padding: 10px;
    border: 2px #696969;
    object-fit: contain;
}

h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.listElementStyleNone{
    list-style-type: none;
}

.seccion-info{
    margin-bottom: 50px;
}

.seccion-info ul li{
    margin: 15px
}

#sec-der{    
    float: right;
    width: 70%;
    margin:auto;
    margin-right: 50px;
    margin-top: -40px
}

ul li{
    list-style-type: disc;
    font-size: 16px;
    margin: 5px;
}

.text-underline{
    text-decoration: underline;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 5px grey;
    margin-top: 20px;
    margin-bottom: 40px;    
}

.info{
    color: teal;
    border-style: solid;
    border-radius: 8px;
    text-align: left;
    margin: 20px;
}

.subt{    
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(103, 230, 247) , rgb(4, 155, 147));
    border: 2px;
    border-radius: 8px;
}

.seccion{
    margin:50px 0px;
}

.align-left{
    text-align: left;
}

.bold{
    font-weight: bold;
}

.curso{
    font-weight: bold
}

.italic{
    font-style: italic;
}

.family{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shadowy{
    text-shadow: 3px 3px 5px grey;
}
#disp{
    font-weight: bold
}